<header class="header" style="background-image: url(images/main-3.jpg);">
	<div class="container">
		<div class="header__inner">
			<div class="header__top">
				<a class="header__logo" href="#">
					<img class="logo__link" src="images/logo.png" alt="">
				</a>
				<div class="header__burger">
					<div class="header__burger-line"></div>
				</div>
				<nav class="header__menu">
					<ul class="header__menu-list">
						<li class="header__menu-item"><a class="header__menu-link" href="#about">О студии</a></li>
						<li class="header__menu-item"><a class="header__menu-link" href="#advantages">Преимущества</a></li>
						<li class="header__menu-item"><a class="header__menu-link" href="#portfolio">Портфолио</a></li>
						<li class="header__menu-item"><a class="header__menu-link" href="#tariff">Тарифы</a></li>
						<li class="header__menu-item"><a class="header__menu-link" href="#contacts">Контакты</a></li>
					</ul>
				</nav>
				<div class="header__contact">
					<a class="header__phone" href="tel:8(800)7757083
					">8 (800) 775 70 83</a>
					<button data-fancybox data-src="#modal" href="javascript:;"
						class="header__btn rightplus-blick btn">Записаться</button>
				</div>
			</div>
			<div class="header__content">
				<div class="header__content-wrapper">
					<div class="header__content-title"> СТУДИЯ ДЕЛОВОЙ ФОТОГРАФИИ</div>
					<div class="header__content-subtitle"> СОЗДАЕМ КОНТЕНТ ДЛЯ ЛЮДЕЙ И БИЗНЕСА </div>
				</div>
			</div>
			<div class="header__bottom">
				<div class="header__bottom-inner">
					<div class="header__bottom-item header__item">
						<div class="header__item-title"> Деловой портрет </div>
						<div class="header__item-text"> индивидуальная фотосъемка руководителей и основных публичных лиц компании
						</div>
					</div>
					<div class="header__bottom-item header__item">
						<div class="header__item-title">Корпоративный портрет </div>
						<div class="header__item-text"> выявлеят в сотрудниках нужные стороны и создает определенную атмосфера
							вашего бизнеса </div>
					</div>
					<div class="header__bottom-item header__item">
						<div class="header__item-title">Промышленная съемка </div>
						<div class="header__item-text"> съемка цехов, предприятий, сырья, готовых изделий, а также рабочего
							персонала </div>
					</div>
					<a class="header__bottom-item header__item" href="#">
						<div class="header__item-title">Интерьерная съемка </div>
						<div class="header__item-text"> съемка помещений, мебели и аксессуаров для создания каталогов и наполнения
							сайтов </div>
					</a>
				</div>
			</div>
		</div>
	</div>
</header>