@media(max-width: 1540px) {
  .swiper-button-next {
    display: none;
  }

  .swiper-button-prev {
    display: none;
  }
}

@media(max-width: 1460px) {
  .steps__item {
    width: 378px;
    margin-right: 0;
    margin-bottom: 80px;
  }

  .steps__inner {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media(max-width: 1370px) {
  .header__contact {
    display: none;
  }

  .header__item+.header__item {
    margin-left: 5px;
  }

  .header__item-title {
    font-size: 15px;
    line-height: 20px;
  }

  .header__item-text {
    font-size: 14px;
    line-height: 15px;
  }

  .header__menu-item:last-child {
    margin-right: 0;
  }

  .header__menu-item {
    margin-right: 10px;
  }

  .header__content-title {
    font-size: 40px;
    line-height: 50px;
  }

  .header__content-subtitle {
    font-size: 23px;
    line-height: 35px;
  }

  .about__content-title {
    margin-bottom: 40px;
  }

  .about__content-text {
    font-size: 20px;
  }

  .addition__item {
    padding-left: 95px;

    &:before {
      font-size: 75px;
    }
  }

  .addition__item-title,
  .addition__item-text {
    width: 470px;
  }

  .more__box {
    display: block;
    margin-bottom: 120px;
  }

  .more__box-link::before {
    right: 0;
    left: 0;
    top: 5px;
    margin-right: auto;
    margin-left: auto;
  }
  .contacts__img{
    width: 500px;
  }


}

@media(max-width: 1200px) {
  .about__inner {
    flex-wrap: wrap;
  }

  .about__master {
    margin: 0 auto;
  }

  .about__master-info {
    margin-bottom: 50px;
  }

  .about__master-info {
    font-size: 25px;
  }

  .about__master-span {
    font-size: 18px;
  }

  .about__content-title {
    font-size: 40px;
  }

  .about__content {
    margin: 0 10px;
  }

  .about__content-text {
    padding-left: 20px;
  }

  .addition__item {
    padding-left: 85px;

    &:before {
      font-size: 65px;
    }
  }

  .addition__item-title,
  .addition__item-text {
    width: 355px;
  }

  .addition__item-title {
    font-size: 30px;
  }

  .addition__item-text,
  .addition__item-price {
    font-size: 25px;
  }


}

@media(max-width: 1035px) {
  .tariff__inner {
    flex-wrap: wrap;
    justify-content: center;
  }

  .tariff__item-title {
    min-height: 110px;
  }

  .slide2 {
    font-size: 16px;
    line-height: 24px;

    &__img {
      width: 65px;
      height: 65px;
      margin-right: 20px;
    }
  }
  .contacts__images{
    padding-right: 25px;
  }
  .contacts__img{
    width: 350px;
  }
  .contacts__info{
    padding-left: 25px;
    font-size: 20px;
  }
}

@media(max-width: 999px) {
  .slide2__text{
    min-height: 165px;
    max-height: 165px;
  }
}

@media(max-width: 960px) {
  .header__menu-link {
    font-size: 18px;
  }

  .header {
    background-position: 62%;
  }

  // .header {
  // background-position: center;
  // }
  .addition__inner {
    justify-content: center;
  }

  .addition__item {
    margin-bottom: 60px;
  }

  .addition__item:nth-child(odd) {
    margin-right: 0px;
  }

  .addition__item-text,
  .addition__item-title {
    width: 600px;
  }

  .addition__item-text {
    min-height: 0;
  }

  .slide3 {
    min-height: 440px;
  }

}

@media(max-width: 790px) {

  .header__burger {
    width: 30px;
    display: block;
    margin-left: auto;
    align-self: flex-start;
    position: relative;
    cursor: pointer;

    &-line {
      background-color: $light-blue;
      height: 2px;
      position: absolute;
      left: 0;
      width: 100%;
      top: 6px;
      content: "";
      transition: all .5s;

    }
  }

  .header__burger::before,
  .header__burger::after {
    content: "";
    background-color: $light-blue;
    height: 2px;
    width: 100%;
    left: 0;
    position: absolute;
    transition: all .5s;
  }

  .header__burger::before {
    top: 0px;
  }

  .header__burger::after {
    bottom: -14px;
  }

  .header__burger.active::before {
    transform: rotate(45deg);
    top: 8px;
  }

  .header__burger.active::after {
    transform: rotate(-45deg);
    bottom: -9px;
  }

  .header__burger.active .header__burger-line {
    transform: scale(0);
  }

  .logo__link {
    width: 135px;
  }

  .header__top {
    min-height: 50px;
    align-items: start;
    margin-top: 10px;

  }

  .header__item-title {
    font-size: 14px;
    line-height: 20px;
  }

  .header__item-text {
    font-size: 13px;
    line-height: 15px;
  }

  .header__menu-list {
    display: none;
    position: absolute;
    right: 5%;
    top: 60px;
    bottom: 0;
    width: 100%;
    z-index: 12;
    background-color: #fff;
    border-top: 1px solid #b9b9b9;
    // position: fixed;
  }

  .header__menu-item {
    display: block;
    text-align: center;
    margin-right: 0;
  }

  .header__menu-link {
    display: block;
    padding: 25px 0;
    border-bottom: 1px solid #b9b9b9;
    background-color: #fff;
    width: 100%;
    color: grey;
    text-transform: uppercase;
    text-align: left;
    padding-left: 52px;

    &:hover {
      color: $blue;
      border-bottom: 1px solid $blue;

    }
  }

  .header__menu-link::after {
    content: none;
  }

  .steps__inner {
    justify-content: center;
    margin-bottom: 20px;
  }

  .steps__title {
    margin-bottom: 100px;
  }

  .steps__subtitle {
    font-size: 24px;
    line-height: 34px;
  }

  .slide3 {
    min-height: 345px
  }

  .title {
    font-size: 40px;
    line-height: 50px;
  }

  .portfolio__subtitle {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 45px;
    padding: 10px;
  }
  .portfolio__title {
    margin-bottom: 15px;
  }
  .slide2__text{
    margin-bottom: 60px;
  }
  .more__box-link::before {
    width: 40px;
    height: 40px;
  }
  .contacts__images{
    display: none;
  }
  .contacts__info{
    padding-left: 0px;
    text-align: center;
    max-width: 100%;
  }
  .contacts__form-button{
    margin: 0 auto;
  }

}

@media(max-width: 695px) {
  .header__bottom {
    display: none;
  }


  .header__content-title {
    font-size: 35px;
    line-height: 40px;
  }

  .header__content-subtitle {
    font-size: 20px;
    line-height: 30px;
  }

  .addition__item {
    width: 100%;
  }

  .addition__item-text,
  .addition__item-title {
    width: auto;
  }

  .addition__item-title {
    font-size: 25px;
  }

  .addition__item-text,
  .addition__item-price {
    font-size: 20px;
  }
  .slide2__text{
    margin-bottom: 40px;
    min-height: 145px;
    max-height: 145px;
  }
  .slide2__author{
    flex-grow: 0;
  }

}

@media(max-width: 520px) {
  .about__master-img {
    width: 300px;
    height: 454px;
  }

  .steps__item {
    font-size: 24px;
  }

  .slide3 {
    min-height: 300px;

  }

  .title {
    font-size: 36px;
    line-height: 46px;
  }
}

@media (max-width: 370px){
  .slide2__text,
  .slide2__author{
    font-size: 15px;
    line-height: 20px;
  }
  .slide2__text {
    min-height: auto;
  }
}


@media (min-width: 791px) {
  .header__menu-list {
    display: inline-flex !important;
  }
}

@media (min-width: 768px) {
  .reviews-card {
    flex-wrap: nowrap;
  }

  .reviews-card__text {
    width: 66%;
  }

  .reviews-card__image {
    width: 33%;
  }
}