@import 'vars';
@import 'fonts';
@import 'global';

//-----------------------------------------------------------------------------------------------------------
//
//                                                    START CODE
//
//-----------------------------------------------------------------------------------------------------------
//start header
.header {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 20%;
	color: $white;
	position: relative;
}

.header::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 5;
	// background-color: rgba(20, 39, 41, .4);
	background-color:  rgba(38,38,40,.6);

}
.header__top{
	align-items: center;
	display: flex;
	justify-content: space-between;
	min-height: 90px;
	letter-spacing: 1px;
	font-size: 23px;

}

.header__menu-list {
	display: flex;
}

.header__menu-item {
	margin-right: 20px;
}

.header__menu-link {
	color: $white;
	padding: 10px;
	transition: all .5s;
	position: relative;
	&::after{
		position: absolute;
		content: "";
		left: 0%;
		bottom: 0;
		width: 45px;
		height: 3px;
		background-color: $blue;
		display: none;
	}
}

.header__menu-link:hover::after {
	display: block;
}

.header__phone{
	margin-right: 30px;
	padding-left: 30px;
	position: relative;
	color: $white;
	font-size: 20px;
	&::before{
		content: "";
		position: absolute;
		left: 0;
		top: 6px;
		background-image: url(../images/phone-call.svg);
		width: 20px;
		height: 20px;
	}
}


.btn{
	padding: 15px 20px;
	color: $white;
	font-family: sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	position: relative;
	background-color: $blue;
	border: none;
	cursor: pointer;
	overflow: hidden;
	font-size: 20px;
	&:hover{
		filter: brightness(1.2);
	}

}
												

.btn:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 20px;
	background-color: rgba(255,255,255,.9);
	height: 100%;
	filter: blur(8px);
	animation: rightplus 4s infinite;

}

// .rightplus-blick:before {
	// transform: translateX(250px) skewX(20deg);
// }
// 
// .rightplus-blick:hover:before {
	// animation: rightplus .5s 1 infinite;
// }


@keyframes rightplus {
	from {
			transform: translateX(250px) skewX(20deg);
	}
	to {
			transform: translateX(-50px) skewX(20deg);
	}
}


.title{
font-size: 58px;
line-height: 60px;
margin-bottom: 20px;
@include f500;
text-align: center;
text-transform: uppercase;
}

.header__inner {
	min-height: 100vh;
	z-index: 10;
	position: relative;
	display: flex;
	flex-direction: column;
}

.header__content {
	flex-grow: 1;
	display: flex;
	align-items: center;
	text-align: center;
	// padding-top: 200px;

	&-title {
		font-size: 58px;
		line-height: 60px;
		margin-bottom: 20px;
		@include f500;
	}

	&-subtitle {
		font-size: 33px;
		line-height: 35px;
	}
}

.header__content-wrapper {
	margin: 0 auto;
	padding: 10px 10px 30px 10px;
}
.menu__btn{
	display: none;
}

.header__bottom-inner{
	justify-content: center;
	display: flex;
  // flex-direction: row; 
  align-items: stretch;
}


.header__item{
	max-width: 350px;
	min-height: 80px;
	font-size: 18px;
	line-height: 18px;
	background-color:  rgba(255,255,255,.10);
	padding: 10px;
	cursor: pointer;
	color: $white;
	transition: .5s;
	& + & {
		margin-left: 20px;
	}
	&:hover{
		background-color: rgba(0, 143, 203,.5);
	}
}
.header__item-title{
	font-size: 23px;
	margin-bottom: 10px;
	padding-top: 5px;
}
//end header
//start about
.about{
	padding: 120px 0;

}
.about__inner{
	display: flex;
	margin-bottom: 80px;
}
.about__master{
	margin-right: 95px;
}
.about__master-img{
	width: 500px;
	height: 650px;
	object-fit: cover;
	margin-bottom: 10px;
}
.about__master-info{
	font-size: 30px;
	line-height: 35px;
	text-align: center;
}
.about__master-span{
	display: block;
	font-size: 25px;
}
.about__content-title{
	@include f500;
	font-size: 50px;
	margin-bottom: 40px;
	text-transform: uppercase;
}
.about__content-text{
	font-size: 25px;
	line-height: 30px;
	padding-left: 30px;
	border-left: 3px solid $blue;
	margin-bottom: 60px;
	&:last-child{
		margin-bottom: 0;
	}
}
.about__content-paragraph{
	margin-bottom: 18px;
	&:last-child{
		margin-bottom: 0;
	}
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide{
	min-height: 400px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
 .swiper-pagination-progressbar-fill{
   background-color:$blue !important;
 }
//end about
//start advantages
.advantages{
padding: 120px 0;
}
.advantages__title{
	margin-bottom: 90px;
}
.advantages__inner{
display: flex;
justify-content: space-between;
}
.advantages__item{
	position: relative;
	padding-left: 150px;
	font-size: 30px;
	line-height: 35px;
	margin-bottom: 100px;
	max-width: 730px;
	min-height: 70px;
	&:last-child{
		margin-bottom: 0;
	}
}
.advantages__item::before{
position: absolute;
left: 0;
top: 15px;
color: $blue;
font-size: 80px;
font-family: 'icomoon';
}
.advantages__left{
	padding-right: 50px;
}
.advantages__right{
border-left: 3px solid $blue;
padding-left: 50px;
}
//end advantages
//start portfolio
.portfolio{
padding: 120px 0;
}
.portfolio__title{
margin-bottom: 50px;
}
.portfolio__subtitle{
	text-align: center;
	font-size: 30px;
	line-height: 35px;
	margin-bottom: 80px;
}
.portfolio__inner{
	text-align: center;
  max-width: 1460px;
  margin: 0 auto;
}
.portfolio__mini{
	width: 356px;
	height: 200px;
	object-fit: cover;
}
//end portfolio
//start tariff
.tariff{
	padding: 120px 0;
}
.tariff__title{
	margin-bottom: 80px;
}
.tariff__inner{
	display: flex;
	justify-content: space-between;
}

.tariff__item{
  max-width: 345px;
  min-height: 500px;
  border: 1px solid rgba(255,255,255,.38);
  padding: 25px 16px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.tariff__item-title{
	font-size: 24px;
  text-transform: uppercase;
  padding-bottom: 27px;
  border-bottom: 3px solid $blue;
  text-align: center;
  line-height: 39px;
  margin-bottom: 35px;
}
.tariff__item-price{
	font-size: 30px;
	margin-bottom: 32px
}
.tariff__item-time{
	margin-bottom: 32px

}
.tariff__item-photo{
	margin-bottom: 32px;
}
//end tariff
//start addition
.addition{
	padding: 120px 0;
}
.addition__title{
	margin-bottom: 80px;
}
.addition__inner{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}


.addition__item{
	margin-bottom: 20px;
  padding-left: 130px;
	position: relative;
	margin-bottom: 150px;
	&:before{
		position: absolute;
    left: 0;
		top: 0px;
		height: 30%;
    color: #008fcb;
    font-size: 80px;
		font-family: icomoon;
	}
}

.addition__item-title{
	margin-bottom: 20px;
	font-size: 30px;
	line-height: 35px;
	width: 482px;
	padding-bottom: 10px;
border-bottom: 3px solid $blue;
}

.addition__item-text{
	width: 500px;
	margin-bottom: 20px;
}
.addition__item-price{

}
//end addition




//-----------------------------------------------------------------------------------------------------------
//
//                                                    END CODE
//
//-----------------------------------------------------------------------------------------------------------

@import 'media';