@import 'vars';
@import 'fonts';
@import 'global';

//-----------------------------------------------------------------------------------------------------------
//
//                                                    START CODE
//
//-----------------------------------------------------------------------------------------------------------
//start header
.header {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 20%;
	color: $white;
	position: relative;
}

.header::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 5;
	// background-color: rgba(20, 39, 41, .4);
	background-color:  rgba(38,38,40,.6);

}
.header__top{
	align-items: center;
	display: flex;
	justify-content: space-between;
	min-height: 90px;
	letter-spacing: 1px;
	font-size: 23px;

}

.header__menu-list {
	display: flex;
}

.header__menu-item {
	margin-right: 20px;
}

.header__menu-link {
	color: $white;
	padding: 10px;
	transition: all .5s;
	position: relative;
	&::after{
		position: absolute;
		content: "";
		left: 0%;
		bottom: 0;
		width: 45px;
		height: 3px;
		background-color: $blue;
		display: none;
	}
}

.header__menu-link:hover::after {
	display: block;
}

.header__phone{
	margin-right: 30px;
	padding-left: 30px;
	position: relative;
	color: $white;
	font-size: 20px;
	&::before{
		content: "";
		position: absolute;
		left: 0;
		top: 6px;
		background-image: url(../images/phone-call.svg);
		width: 20px;
		height: 20px;
	}
}


.header__btn {
	padding: 15px 20px;
	color: $white;
	font-family: sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	position: relative;
	background-color: $blue;
	border: none;
	cursor: pointer;
	overflow: hidden;
	font-size: 20px;
	&:hover{
		filter: brightness(1.2);
	}
}

.header__btn:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 20px;

	background-color: rgba(255,255,255,.9);
	height: 100%;
	filter: blur(8px);
	animation: rightplus 4s infinite;

}

.rightplus-blick:before {
	transform: translateX(250px) skewX(20deg);
}

.rightplus-blick:hover:before {
	// animation: rightplus .5s 1 infinite;
}


@keyframes rightplus {
	from {
			transform: translateX(250px) skewX(20deg);
	}
	to {
			transform: translateX(-50px) skewX(20deg);
	}
}


.header__inner {
	min-height: 100vh;
	z-index: 10;
	position: relative;
	display: flex;
	flex-direction: column;
}

.header__content {
	flex-grow: 1;
	display: flex;
	align-items: center;
	text-align: center;
	// padding-top: 200px;

	&-title {
		font-size: 58px;
		line-height: 60px;
		margin-bottom: 20px;
	}

	&-subtitle {
		font-size: 33px;
		line-height: 35px;
	}
}

.header__content-wrapper {
	margin: 0 auto;
	padding: 10px 10px 30px 10px;
}
.menu__btn{
	display: none;
}

.header__bottom-inner{
	justify-content: center;
	display: flex;
  // flex-direction: row; 
  align-items: stretch;
}


.header__item{
	max-width: 350px;
	min-height: 80px;
	font-size: 18px;
	line-height: 18px;
	background-color:  rgba(255,255,255,.10);
	padding: 10px;
	cursor: pointer;
	color: $white;
	transition: .5s;
	& + & {
		margin-left: 20px;
	}
	&:hover{
		background-color: rgba(0, 143, 203,.5);
	}
}
.header__item-title{
	font-size: 23px;
	margin-bottom: 10px;
	padding-top: 5px;
}
//end header
//start about
.about{
	background-color: #262628;
	padding: 120px 0;
}
.about__inner{
	display: flex;
}
.about__master{
	margin-right: 95px;
}
.about__master-img{
	width: 500px;
	height: 650px;
	object-fit: cover;
	margin-bottom: 10px;
}
.about__master-info{
	font-size: 30px;
	line-height: 35px;
	text-align: center;
}
.about__master-span{
	display: block;
	font-size: 25px;
}
.about__content{

}
.about__content-title{
	@include f700;
	font-size: 50px;
	margin-bottom: 40px;
	text-transform: uppercase;
}
.about__content-text{
	font-size: 25px;
	line-height: 30px;
	padding-left: 30px;
	border-left: 3px solid $blue;
	margin-bottom: 60px;
	&:last-child{
		margin-bottom: 0;
	}
}
.about__content-paragraph{
	margin-bottom: 18px;
	&:last-child{
		margin-bottom: 0;
	}
}
//-----------------------------------------------------------------------------------------------------------
//
//                                                    END CODE
//
//-----------------------------------------------------------------------------------------------------------

@import 'media';